.container {
    box-shadow: rgb(26 34 37 / 7%) 0px 0px 0.8rem 0.2rem;
    border-radius: 15px;
    padding: 50px 80px 70px;
    background: white;
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    width: 700px;

    button,
    select {
        width: 250px;
        display: block;
        margin: 10px 0;
    }

    .navigation {
        margin-top: 10px;
        button {
            display: inline-block;
            margin-right: 20px;
        }
    }
}
